{% extends 'layout.html' %}
{% block content %}
<div class ="container">
  <h1>About AI_Assistant</h1>
  <p>AI_Assistant is a versatile web application designed to leverage the power of artificial intelligence for various text processing tasks. It includes features such as:</p>
  <ul>
    <li><strong>Spam Detection:</strong> Identify and filter out spam messages using advanced machine learning algorithms.</li>
    <li><strong>Sentiment Analysis:</strong> Analyze the sentiment of text data to understand user opinions and emotions.</li>
    <li><strong>Text Summarization:</strong> Automatically generate concise summaries of long articles or documents.</li>
  </ul>
  <p>This project is built with Flask, Bootstrap,pre-trained ml models and various AI libraries to provide a seamless user experience.</p>
  {%endblock%}